<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Filmy</title>
</head>
<body>

    <a href="/add">Dodaj film</a>
    <form method="get" action="/" th:object="${filters}">
        <select name="category" th:field="*{category}">
            <option value="">Wszystkie</option>
            <option value="HORROR">HORROR</option>
            <option value="WOJENNY">WOJENNY</option>
            <option value="KRYMINAŁ">KRYMINAŁ</option>
            <option value="KOMEDIA">KOMEDIA</option>
        </select>
        <input type="text" placeholder="Tytuł"/>
        <input type="submit" value="Filtruj" />
    </form>

</body>
</html>